body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #787878;
    background: #fff;
    line-height: 1.5;
}
    
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}